<div class="row">
  <div class="small-12 columns">
    <%= link_to "Prev week", "#{planning_path}/week?date=#{@prev_date}", class: "button large-3 small-6 columns" %>
    <%= link_to "Next week", "#{planning_path}/week?date=#{@next_date}", class: "button large-3 small-6 columns" %>
  </div>
    
  <div class="large-12 large-centered columns">
    <% @days.each do |day| %>
      <%= link_to day[:display_date], "#{planning_path}?date=#{day[:serialized_date]}",
      class: "button large-12 columns #{day[:work] ? 'midnight' : ''} #{day[:full] ? '' : 'warning'}" %>
    <% end %>
  </div>
</div>
