<table>
  <thead>
    <tr>
      <th width="300">Activity</th>
      <th width="200">Need</th>
      <th width="200">Assigned</th>
    </tr>
  </thead>
  <tbody>
      <% @tasks.each do |task| %>
	<tr>
	  <td><%= task.todo %></td>
	  <td><%= task.need %></td>
	  <td><%= task.people %></td>
	</tr>
      <% end %>
  </tbody>
</table>
