<table>
  <thead>
    <tr>
      <th width="300">Login</th>
      <th width="300">Activity</th>
      <% if admin? %>
	<th width="100">Delete</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
	<td><%= job.user.login %></td>
	<td><%= job.task.nil? ? "Undefined activity" : job.task.todo %></td>
	<% if admin? %>
	  <td><%= link_to "Delete", "#{jobs_path}/#{job.id}/delete" %></td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
