<table>
  <thead>
    <tr>
      <th width="300">Login</th>
      <th width="300">Activity</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
	<td><%= job.user.login %></td>
	<td><%= job.task.nil? ? "Undefined activity" : job.task.todo %></td>
      </tr>
    <% end %>
  </tbody>
</table>
